/* FlowchartNode.css */

.flowchart-node {
	position: absolute;
    width: 120px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    text-align: center;
    cursor: grab; 
    z-index: 1;
}

.flowchart-node.is-dragging {
    z-index: 10; /* Higher z-index for the node being dragged */
}

.flowchart-node.selected-for-connection {
  box-shadow: 0 0 15px 5px rgba(0, 123, 255, 0.7); /* A blue glow */
  border-color: #007bff; /* A blue border */
}

.connection-point {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background-color: #cccccc;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.connection-point:hover {
    background-color: #666666;
}