/* Toolbar.css file */
.node-add-container {
	position: relative;
	display: flex;
	flex-grow: 1;
}

.node-add-container .toolbar-btn {
    width: 100%;
}

.node-menu-submenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	background-color: #333;
	border: 1px solid #555;
	padding: 5px;
	display: flex;
	flex-direction: column;
	width: max-content;
	min-width: 100%;
}

.submenu-btn {
	margin-top: 5px;
}

.toolbar {
	width: 200px;
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.toolbar-content {
	display: flex;
	flex-direction: column;
	gap: 15px; /* Adds space between the buttons */
}

.toolbar-btn {
	padding: 10px 15px;
	font-size: 1rem;
	background-color: #555;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.toolbar-btn:hover {
	background-color: #777;
}

.toolbar-btn:disabled {
	background-color: #666;
	color: #aaa;
	cursor: not-allowed;
	opacity: 0.6;
}

.toolbar-header {
	color: #eee;
}