/* Toolbar.css file */

.toolbar {
	width: 200px;
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.toolbar-content {
	display: flex;
	flex-direction: column;
	gap: 15px; /* Adds space between the buttons */
}

.toolbar-btn {
	padding: 10px 15px;
	font-size: 1rem;
	background-color: #555;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.toolbar-btn:hover {
	background-color: #777;
}

.toolbar-header {
	color: #eee;
}